.menu-list{
    width: 90%;
    background-color: rgba(0, 0, 0, 0.03);
    text-align: center;
    padding: 25px;
    margin-left: 15px;
    display: flex;
    flex-direction: row;
}

.parent{
    display: flex;
    flex-direction: row;
}
.burger-item img{
    width: 100%;
}
.burger-info-left {
    padding: 0 60px;
    font-size: 20px;
    width: 30%;
}

.s2{
    font-weight: 700;
}
.s3{
    color: #545454;
}
.choose-ingredients{
   margin-top: 30px;
   font-weight: 200;
   font-size: 15px;
   line-height: 0;
}
.calorias{
    color: #545454;
}
.buttons{
    padding-left: 80%;
    text-align: center;
}
.plus{
    margin-left: 10px;
}
.buttons input{
    width: 22px;
    height: 22px;
}
.burger-info{
    margin-top: 50px;
}
.nav-row{
    display: flex;
    justify-content: center;
}
.nav-row img{
    width: 90%;
}
a {
    text-decoration: none;
    color: black;
}
li{
    list-style-type: none;
}
.addToCard{
    width: 50px;
    height: 60px;
    margin-top: 180px;
    text-transform: capitalize;
}